.topbar {
    background-color: rgb(175, 175, 175);
    position: fixed;
    top: 0px; 
    left: 0px;
    width: 100%;
}
.toplist {
    display: flex;
    flex-direction:row;
    list-style: none;
    padding:10px;
    margin: 0px;
}
.topbutton {
    padding: 5px;
    background-color: rgb(190, 190, 190);
    margin: 10px;
}